################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MoviStore/bin/Debug/net5.0
/MoviStore/obj
/.vs
/MoviStore/bin/Debug/netcoreapp3.1
